In [ ]:
# connect colab ke g drive
from google.colab import drive
drive.mount('/content/gdrive')

In [1]:
# 1. Import library yang diperlukan
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_percentage_error, r2_score
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Membuat path untuk mengidentifikasi letak directory
# Catatan : pastikan path yang anda masukkan sesuai dengan directory data anda.
# Kemungkinan besar path di contoh ini berbeda dengan penyimpanan data anda
path = "drive/My Drive"

In [3]:
# 2. Membaca data dan melakukan seleksi data
# Misalkan kita punya file CSV dengan kolom: Date, Open, High, Low, Close, Volume, Adj Close
# Ubah "nama_file.csv" dengan nama file data yang sebenarnya
data = pd.read_csv(os.path.join(path, "GOTO.JK.csv"))
# Menampilkan beberapa baris pertama data
data.head(10)

        Date  Open  High  Low  Close  Adj Close        Volume
0  4/11/2022   400   442  360    376        376  2.023702e+10
1  4/18/2022   376   380  330    340        340  1.846390e+10
2  4/25/2022   318   348  270    272        272  8.162472e+09
3   5/2/2022   272   272  272    272        272           NaN
4   5/9/2022   254   270  194    194        194  4.485354e+09
5  5/16/2022   187   314  181    304        304  1.975154e+10
6  5/23/2022   324   324  276    312        312  1.531098e+10
7  5/30/2022   318   364  300    354        354  1.426304e+10
8   6/6/2022   352   404  310    386        386  2.858219e+10
9  6/13/2022   378   416  366    366        366  1.970314e+10

In [4]:
data = pd.read_csv(os.path.join(path, "GOTO.JK.csv"),index_col= 'Date')
print(data.head(5))
data.info()
data.index = pd.to_datetime(data.index)
print(data.index)
data.head(5)

           Open  High  Low  Close  Adj Close        Volume
Date
4/11/2022   400   442  360    376        376  2.023702e+10
4/18/2022   376   380  330    340        340  1.846390e+10
4/25/2022   318   348  270    272        272  8.162472e+09
5/2/2022    272   272  272    272        272           NaN
5/9/2022    254   270  194    194        194  4.485354e+09
<class 'pandas.core.frame.DataFrame'>
Index: 66 entries, 4/11/2022 to 7/10/2023
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       66 non-null     int64
 1   High       66 non-null     int64
 2   Low        66 non-null     int64
 3   Close      66 non-null     int64
 4   Adj Close  66 non-null     int64
 5   Volume     65 non-null     float64
dtypes: float64(1), int64(5)
memory usage: 3.6+ KB
DatetimeIndex(['2022-04-11', '2022-04-18', '2022-04-25', '2022-05-02',
               '2022-05-09', '2022-05-16', '2022-05-23', '2022-05-30',
               '2022-06-06', '2022-06-13', '2022-06-20', '2022-06-27',
               '2022-07-04', '2022-07-11', '2022-07-18', '2022-07-25',
               '2022-08-01', '2022-08-08', '2022-08-15', '2022-08-22',
               '2022-08-29', '2022-09-05', '2022-09-12', '2022-09-19',
               '2022-09-26', '2022-10-03', '2022-10-10', '2022-10-17',
               '2022-10-24', '2022-10-31', '2022-11-07', '2022-11-14',
               '2022-11-21', '2022-11-28', '2022-12-05', '2022-12-12',
               '2022-12-19', '2022-12-26', '2023-01-02', '2023-01-09',
               '2023-01-16', '2023-01-23', '2023-01-30', '2023-02-06',
               '2023-02-13', '2023-02-20', '2023-02-27', '2023-03-06',
               '2023-03-13', '2023-03-20', '2023-03-27', '2023-04-03',
               '2023-04-10', '2023-04-17', '2023-04-24', '2023-05-01',
               '2023-05-08', '2023-05-15', '2023-05-22', '2023-05-29',
               '2023-06-05', '2023-06-12', '2023-06-19', '2023-06-26',
               '2023-07-03', '2023-07-10'],
              dtype='datetime64[ns]', name='Date', freq=None)

            Open  High  Low  Close  Adj Close        Volume
Date
2022-04-11   400   442  360    376        376  2.023702e+10
2022-04-18   376   380  330    340        340  1.846390e+10
2022-04-25   318   348  270    272        272  8.162472e+09
2022-05-02   272   272  272    272        272           NaN
2022-05-09   254   270  194    194        194  4.485354e+09

In [5]:
# Memeriksa data yang hilang
print(data.isnull().sum())

# Mengisi data yang hilang jika ada
# Misalnya, jika ada data yang hilang di kolom 'Open', bisa diisi dengan rata-rata dari kolom tersebut
data['Volume'].fillna(data['Volume'].mean(), inplace=True)
data

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       1
dtype: int64

            Open  High  Low  Close  Adj Close        Volume
Date
2022-04-11   400   442  360    376        376  2.023702e+10
2022-04-18   376   380  330    340        340  1.846390e+10
2022-04-25   318   348  270    272        272  8.162472e+09
2022-05-02   272   272  272    272        272  1.333230e+10
2022-05-09   254   270  194    194        194  4.485354e+09
...          ...   ...  ...    ...        ...           ...
2023-06-12   126   127  114    117        117  1.888514e+10
2023-06-19   119   119  113    113        113  8.888648e+09
2023-06-26   112   114  109    110        110  6.550604e+09
2023-07-03   110   112  107    108        108  7.902139e+09
2023-07-10   108   110  105    109        109  7.291290e+09

[66 rows x 6 columns]

In [6]:
data.drop('Adj Close', axis=1, inplace=True)
print(data)

            Open  High  Low  Close        Volume
Date
2022-04-11   400   442  360    376  2.023702e+10
2022-04-18   376   380  330    340  1.846390e+10
2022-04-25   318   348  270    272  8.162472e+09
2022-05-02   272   272  272    272  1.333230e+10
2022-05-09   254   270  194    194  4.485354e+09
...          ...   ...  ...    ...           ...
2023-06-12   126   127  114    117  1.888514e+10
2023-06-19   119   119  113    113  8.888648e+09
2023-06-26   112   114  109    110  6.550604e+09
2023-07-03   110   112  107    108  7.902139e+09
2023-07-10   108   110  105    109  7.291290e+09

[66 rows x 5 columns]

In [22]:
from sklearn.preprocessing import MinMaxScaler

# Data sebelum transformasi
print("Data sebelum transformasi:")
print(data.head())

# Inisialisasi MinMaxScaler
scaler = MinMaxScaler()

# Melakukan normalisasi pada fitur (X)
X_normalized = scaler.fit_transform(data)

# Ubah hasil normalisasi menjadi DataFrame
X_normalized_df = pd.DataFrame(X_normalized, columns=data.columns)

# Data setelah transformasi
print("\nData setelah transformasi:")
print(X_normalized_df.head())

Data sebelum transformasi:
            Open  High  Low  Close        Volume
Date
2022-04-11   400   442  360    376  2.023702e+10
2022-04-18   376   380  330    340  1.846390e+10
2022-04-25   318   348  270    272  8.162472e+09
2022-05-02   272   272  272    272  1.333230e+10
2022-05-09   254   270  194    194  4.485354e+09

Data setelah transformasi:
       Open      High       Low     Close    Volume
0  1.000000  1.000000  0.978947  0.947712  0.250404
1  0.923567  0.821326  0.873684  0.830065  0.226867
2  0.738854  0.729107  0.663158  0.607843  0.090120
3  0.592357  0.510086  0.670175  0.607843  0.158747
4  0.535032  0.504323  0.396491  0.352941  0.041309

In [71]:
# Memisahkan fitur (variabel independen) dan label (variabel dependen)
X = data[['Open', 'High', 'Low', 'Volume']]
y = data['Close']  # Ganti 'Target' dengan nama kolom saham yang akan diprediksi

# Membagi data menjadi data latih dan data uji (misalnya 80% untuk latih dan 20% untuk uji)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Membuat objek model regresi linear berganda
model = LinearRegression()

# Melatih model dengan data latih
model.fit(X_train, y_train)

# Memprediksi nilai saham dengan data uji
y_pred = model.predict(X_test)

In [72]:
# Tampilkan hasil prediksi saham vs. nilai saham yang sebenarnya
df_pred_actual = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
print(df_pred_actual)

            Actual   Predicted
Date
2023-02-20     120  118.150097
2022-10-24     189  187.583141
2022-10-31     200  196.390739
2023-05-01     106  104.419773
2023-06-26     110  110.265385
2022-11-14     222  213.281090
2023-04-03     101  104.507586
2023-02-27     124  119.620915
2022-12-05      93  101.139031
2022-05-09     194  223.742221
2022-12-12      96  104.554645
2023-01-16     114  115.480421
2022-11-28     132  150.834921
2023-03-13     116  126.803269

In [73]:
# Evaluasi model menggunakan mean squared error (MSE) dan coefficient of determination (R-squared)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
rmse = np.sqrt(mse)

print(f'Mean Squared Error (MSE): {mse}')
print(f'R-squared (R2): {r2}')
print(f'Root Mean Squared Error (RMSE): {rmse}')

Mean Squared Error (MSE): 116.15749067088332
R-squared (R2): 0.9354755593270251
Root Mean Squared Error (RMSE): 10.777638455194316

In [74]:
# Menghitung Mean Absolute Percentage Error (MAPE)
mape = (mean_absolute_percentage_error(y_test, y_pred))*100
print(f'Mean Absolute Percentage Error (MAPE):{mape:.2f}%')

Mean Absolute Percentage Error (MAPE):5.33%